doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/css/main.css")
		script(src="/js/main.js", type="text/javascript")
		script(src="/js/jquery-2.1.4.js")
		block head
	body
		div.navbar
			div.container
				div.mainnav
					a.flushbtn(href="/")
						| Node Example Server
					a.flushbtn(href="/")
						| Home
					a.flushbtn(href="/contact")
						| Contact
				div.navright
					a.btn.btnsmall(href="/account/signin")
						| Sign in
					| 
					a.btn.btnsmall(href="/account/create")
						| Create account

		div.container
			block content
			div
				h2 stuff down here